.site-header {
    background-color: #a7a7c7;
    color: #f5e4de;
    height: 100vh;
    font-family: mononspace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.site-header-content {
    margin: 10px;

}
.profile-pic {
    border-radius: 50%; 
    height: 200px;
    width: 200px;
    box-shadow: #423854 12px 10px 12px;
}
.course-link {
    color: #f5e4de;
}
body{
    margin: 0;

}